.root {
  width: 100%;
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------- selectable ------------------------- */

.selected {
  border: 5px solid gold;
  border-radius: 10px;
}

.selectable {
  border: 5px solid white;
  border-radius: 10px;
}

.selectable:hover {
  border: 5px solid #aaa;
  border-radius: 10px;
}

/* ------------------------- card ------------------------- */

/* card */

.card {
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  padding: 5px;
  border-radius: 15%;
  border: 1px soid #777;
  aspect-ratio: 3/5;
}

/* card value */

.card--value {
  font-weight: bold;
}

/* card default skeleton */

.card {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.card--header {
  height: 20%; 
  align-self: flex-start;

  display: flex;
  justify-content: left;
  align-items: center;
}

.card--content {
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card--footer {
  height: 20%;  
  align-self: flex-end;

  display: flex;
  justify-content: right;
  align-items: bottom;
}

.card--symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--symbol svg {
  width: 100%;
}

/* card XS */

.card.size-XS {
  width: 20px;
}

.card.size-XS .card--value {
  font-size: 20px;
}

.card.size-XS .card--symbol {
  width: 15px;
}

.card.size-XS .card--header,
.card.size-XS .card--footer {
  display: none;
}

/* card S */

.card.size-S {
  width: 30px;
}

.card.size-S .card--value {
  font-size: 30px;
}

.card.size-S .card--symbol {
  width: 20px;
}

.card.size-S .card--header,
.card.size-S .card--footer {
  display: none;
}

/* card M */

.card.size-M {
  width: 40px;
}

.card.size-M .card--header .card--symbol,
.card.size-M .card--footer .card--symbol {
  width: 10px;
}

.card.size-M .card--value {
  font-size: 30px;
}

.card.size-M .card--content .card--symbol {
  width: 20px;
}

/* card L */

.card.size-L {
  width: 50px;
}

.card.size-L .card--header .card--symbol,
.card.size-L .card--footer .card--symbol {
  width: 12px;
}

.card.size-L .card--value {
  font-size: 35px;
}

.card.size-L .card--content .card--symbol {
  width: 22px;
}

/* card XL */

.card.size-XL {
  width: 60px;
}

.card.size-XL .card--header .card--symbol,
.card.size-XL .card--footer .card--symbol {
  width: 15px;
}

.card.size-XL .card--value {
  font-size: 40px;
}

.card.size-XL .card--content .card--symbol {
  width: 27px;
}

/* card color */
 
svg.icon {
  fill: currentColor;
}

.color-black {
  color: #343a40;
}
 
.color-white {
  color: #e9ecef;
}
 
.color-gray {
  color: #adb5bd;
}
 
.color-yellow {
  color: #fee440;
}
 
.color-red {
  color: #ff595e;
}
 
.color-green {
  color: #52b788;
}
 
.color-blue {
  color: #00bbf9;
}
 
.color-purple {
  color: #9b5de5;
}
 
.color-orange {
  color: #ff9f1c;
}
 
.color-pink {
  color: #f15bb5;
}
 
.color-brown {
  color: #9d6b53;
}
